span {
  background-color: crimson;
}

.geometricFig {
  width: 200px;
  height: 200px;
  background-color: pink;
}

#square {
  margin-bottom: 1rem;
}

#circle {
  border-radius: 50%;
}

th {
  background-color: crimson;
  color: #eee;
  padding-block: 0.5rem;
}

tr:nth-child(even) {
  background-color: salmon;
}
tr:nth-child(odd) {
  background-color: rgb(251, 170, 162);
}

td {
  padding: 1rem;
}
